In [13]:
fasta = r"C:\Users\Dan\Desktop\CDC\Projects\dives\data\raw\complete_original_sequences_withsubtypes.fasta"
out = r"C:\Users\Dan\Desktop\CDC\Projects\dives\data\preproc\subtypes.csv"

In [14]:
subtypes, seqids = [], []

with open(fasta, 'r') as f:
    for i , line in enumerate(f):
        if line.startswith('>'):
            subtype, seqid = line[1:].strip().split('.')
            subtypes.append(subtype)
            seqids.append(seqid)

In [15]:
import pandas as pd

df = pd.DataFrame({'id': seqids, 'subtype': subtypes})
df

            id   subtype
0     AB023804         C
1     AB032740     01_AE
2     AB032741     01_AE
3     AB049811     02_AG
4     AB052867     02_AG
...        ...       ...
6100  OQ749404  140_0107
6101  OQ749405  140_0107
6102  OQ749406  140_0107
6103  OQ749407  140_0107
6104  MW728361  140_0107

[6105 rows x 2 columns]

In [16]:
df.to_csv(out, index=False)